body{
    text-align: center;
    background-color: #333333; /* Dark gray */
    color: #fff; /* White or a light color for text */
    height: 90vh;
}
.container {
    width: 80%;
    height: 100%;
    border: 1px solid black;
    margin: 0 auto;
    border: 1px solid #444;
    background-color: #1a1a1a;
}

.month-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Create four columns */
    height: 80%;
    border: 1px dashed #444;
    transition: transform 0.4s ease-out, box-shadow 0.2s ease;
}

.month-grid-active{
    /* display: flex;
    flex-direction: row; */
    /* justify-content: center;
    align-items: center; */
    height: 80%;
    border: 1px dashed #444;
    width: 100%;
}

.month-item-active{
    border: 1px solid #585757;
    background-color: #333333; /* Dark gray */
    width: 100%;
    height: 100%;
    transition: transform 0.8s ease-out 1s, box-shadow 0.2s ease; /* Add transition */
    display: flex;
    flex-direction: column; /* Change to column to stack day numbers vertically */
    align-items: center; /* Center content horizontally */
    justify-content: center; /* Center content vertically */
    text-align: center;
}

.month-item-none{
    display: none;
}

/* Add hover styles to your existing CSS */

.month-item {
    border: 3px solid #585757;
    background-color: #333333; /* Dark gray */
    margin: 5px;
    text-align: center;
    /* Center text vertically and horizontally */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.4s ease-out, box-shadow 0.2s ease; /* Add transition */
    cursor: pointer;
}

@keyframes expand {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.month-item-active {
    animation: expand 0.4s ease-out;
}

/* Apply styles on hover */
.month-item:hover {
    transform: scale(1.1); /* Increase the size by 10% */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6); /* Add a glowing box shadow */
}

.days-list{
    display:none;
}

.days-list-active {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    list-style: none;
    place-items: center;
    max-width: max-content;
    margin-right: 30px;
}

.days-list-active li {
    width: 2em; /* Adjust width as needed */
    height: 2em; /* Adjust height as needed */
    line-height: 2em; /* Vertically center text within the box */
    border: 1px solid #ccc; /* Optional: Add border for better visibility */
    border-radius: 50%; /* Optional: Makes the circle smoother */
    margin-top: 20px; /* Optional: Add margin between day numbers */
    margin-right: 25px;
    cursor: pointer;
}

div span{
    margin: 0 14px;
    cursor: pointer;
}

.year-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.days-name{
    display: none;
}
.days-name-li{
    display: none;
}
.days-name-li-active {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    list-style: none;
    place-items: center;
    padding: 0;
  }
.days-name-li-active li{
    width: 2em; /* Adjust width as needed */
    height: 2em; /* Adjust height as needed */
    line-height: 2em; /* Vertically center text within the box */
    margin-top: 20px; /* Optional: Add margin between day numbers */
    margin-right: 28px;
}
  .testing{
    display: none;
  }

  .btn{
    color: #fff;
    background-color: #333333;
    border-color: #333333;
    border-radius: 0;
    font-size: 0.7rem;
    line-height: 1.5;
    cursor: pointer;
    margin-top: 10px;
  }

  .btn:hover{
    transform: scale(1.1); /* Increase the size by 10% */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6); /* Add a glowing box shadow */
  }